@import url('/public/css/colors.css');
@import url('/public/css/fonts.css');

:root {
    --spacing: .5rem;
    --spacing-secondary: .25rem;
    --font-size-headline: 1.5rem;
    --font-size-primary: 1rem;
    --font-size-secondary: .7rem;
    --border-radius: 10px;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    background-image: url('/public/img/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    color: var(--text);
    font-family: 'Roboto';
}

div#content {
    padding: var(--spacing);
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: inline-flex;
    flex-direction: column;
    gap: var(--spacing);

    backdrop-filter: blur(5px);
    padding: var(--spacing);
    
    border: 1px solid var(--secondary);
    border-radius: var(--border-radius);
}

label {
    color: var(--primary);
}

input, textarea, select {
    color: var(--text);
    font-family: 'Roboto Mono';
    padding: var(--spacing-secondary);
    background-color: inherit;
    border: 1px solid var(--secondary);
    border-radius: var(--border-radius);
}
textarea {
    resize: vertical;
}
input:focus, input:hover, textarea:focus, textarea:hover, select:focus, select:hover {
    outline: none;
    border: 1px solid var(--accent);
}
input[type=number] {
    appearance: textfield;
    text-align: right;
}
input[type=number]::-webkit-inner-spin-button {
    display: none;
}
input[type=submit] {
    background-color: var(--secondary);
    color: var(--background);
    border: none;
}
input[type=submit]:focus, input[type=submit]:hover {
    cursor: pointer;
    background-color: var(--accent);
}

div.inputWrapper {
    display: inline-flex;
    flex-direction: column;
    gap: var(--spacing-secondary);
}

div#errors {
    color: var(--primary);    
    width: 0;
    min-width: 100%;
}